@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap");
@font-face {
  font-family: "Acrobat";
  src: url("../fonts/Akrobat.woff2"), url("../fonts/Akrobat.woff");
  font-weight: 800;
  font-style: normal;
  display: swap;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  height: 80px;
  width: 140px;
  padding: 6px 10px;
  border-radius: 10px;
}

.logo--bgc--white {
  background-color: #fff;
}

.logo__img {
  width: 100%;
}

.nav--mobile {
  width: 100%;
}

.menu {
  display: flex;
}

.menu--mobile {
  flex-direction: column;
  justify-content: center;
}

.menu__item {
  position: relative;
}

.menu__item:not(:first-child) {
  margin-left: 10px;
}

@media (min-width: 576px) {
  .menu__item:not(:first-child) {
    margin-left: 25px;
  }
}

.menu__item:hover::after {
  width: 100%;
}

.menu__item::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  height: 2px;
  width: 0;
  background-color: #00A9E3;
  transition: width 0.3s;
}

.menu__item--mobile {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.menu__item--mobile:not(:first-child) {
  margin: 15px auto 0;
}

.menu__link {
  color: inherit;
}

.open-close-button {
  position: absolute;
  top: 25px;
  right: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: transparent;
  font-size: 25px;
  transition: border 0.3s;
}

.open-close-button:hover {
  border: 1px solid #00A9E3;
}

.button {
  height: 50px;
  width: 200px;
  border: 2px solid #00A9E3;
  border-radius: 20px;
  background: #00A9E3;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover, .button:focus, .button:active {
  border: 2px solid #000;
  color: #000;
}

.button--size--small {
  height: 30px;
  width: 102px;
}

.button--promo:hover, .button--promo:focus, .button--promo:active {
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
}

.title {
  margin: 0;
  font-family: "Akrobat";
  font-size: 33px;
  font-weight: 800;
  line-height: 33px;
  text-align: center;
  color: #1A2437;
}

.title--color--white {
  color: #fff;
}

@media (min-width: 768px) {
  .title {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}

@media (min-width: 576px) {
  .title {
    font-size: 40px;
    line-height: 40px;
  }
}

.actions--header {
  display: none;
}

@media (min-width: 992px) {
  .actions--header {
    display: block;
  }
}

.actions--mobile {
  display: block;
}

@media (min-width: 992px) {
  .actions--mobile {
    display: none;
  }
}

.actions__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 14px 0;
  font-family: "Acrobat", sans-serif;
  font-weight: 800;
  font-size: 17px;
}

@media (min-width: 992px) {
  .actions__inner {
    font-size: 20px;
  }
}

.actions__inner--footer {
  flex-direction: column;
  font-size: 15px;
}

@media (min-width: 576px) {
  .actions__inner--footer {
    font-size: 17px;
  }
}

@media (min-width: 768px) {
  .actions__inner--footer {
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
  }
  .actions__inner--footer > :not(:first-child):not(:last-child) {
    margin-left: 30px;
  }
}

@media (min-width: 992px) {
  .actions__inner--footer > :not(:first-child) {
    margin-left: 30px;
  }
}

@media (min-width: 1045px) {
  .actions__inner--footer {
    justify-content: space-between;
  }
}

.actions__contacts {
  display: flex;
  flex-direction: column;
}

.actions__contacts--footer {
  flex-direction: row;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .actions__contacts--footer {
    flex-direction: column;
    margin-top: 0;
  }
}

.actions__contacts-link {
  position: relative;
  font-style: normal;
  color: inherit;
}

.actions__contacts-link:not(:first-child) {
  margin: 0 0 0 20px;
}

@media (min-width: 768px) {
  .actions__contacts-link:not(:first-child) {
    margin: 15px 0 0 0;
  }
}

.actions__contacts-link:hover::after {
  width: 100%;
}

.actions__contacts-link::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  height: 2px;
  width: 0;
  background-color: #00A9E3;
  transition: width 0.3s;
}

.actions__contacts-link--mobile:not(:first-child) {
  margin: 10px 0;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 576px) {
  .slider {
    flex-direction: row;
  }
}

.slider__btns {
  display: flex;
}

@media (min-width: 576px) {
  .slider__btns {
    display: none;
  }
}

.slider__btns > :first-child {
  margin-right: 40px;
}

.slider__btn {
  height: 15px;
  width: 50px;
  border: none;
}

.slider__btn--desktop {
  display: none;
}

@media (min-width: 576px) {
  .slider__btn--desktop {
    display: block;
  }
}

.slider__btn--left {
  background: url("../images/arrowSlider.svg") center/contain no-repeat;
}

.slider__btn--right {
  transform: rotate(180deg);
  background: url("../images/arrowSlider.svg") center/contain no-repeat;
}

.slider__visible-content {
  display: flex;
  align-items: center;
  height: 334px;
  width: 242px;
  margin: 0 30px;
  border-radius: 4px;
  overflow: hidden;
}

@media (min-width: 576px) {
  .slider__visible-content {
    height: 482px;
    width: 350px;
  }
}

.slider__visible-content--reviews {
  height: auto;
  width: 445px;
}

@media (min-width: 1170px) {
  .slider__visible-content--reviews {
    width: calc(445px * 2 + 30px);
  }
}

.slider__line {
  display: flex;
  transition: transform 0.3s;
}

.slider__img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.slider__review {
  min-height: 250px;
  min-width: 445px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);
}

.slider__review:nth-child(2n) {
  margin-left: 30px;
}

.slider__name {
  font-family: "Acrobat", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #00A9E3;
}

.slider__text {
  margin-top: 14px;
}

.menu-mobile {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 600;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 14px 14px 25px;
  height: 100vh;
  width: 70vw;
  background-color: #fff;
  font-family: "Acrobat", sans-serif;
  font-weight: 800;
  font-size: 20px;
  transition: transform 0.3s;
}

@media (min-width: 576px) {
  .menu-mobile {
    width: 50vw;
  }
}

@media (min-width: 768px) {
  .menu-mobile {
    width: 40vw;
  }
}

.header {
  color: #1A2437;
}

.promo {
  background: url("../images/promo-bg.jpg") center/cover no-repeat;
}

.promo__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 108px);
  font-family: "Acrobat", sans-serif;
  font-weight: 800;
  font-size: 46px;
  line-height: 53px;
  color: #fff;
}

@media (min-width: 576px) {
  .promo__inner {
    font-size: 60px;
    line-height: 72px;
  }
}

.promo__inner:before {
  content: '';
  position: absolute;
  bottom: -85px;
  right: 50px;
  z-index: 500;
  display: none;
  height: 600px;
  width: 350px;
  background: url("../images/bottle.png") center/contain no-repeat;
}

@media (min-width: 768px) {
  .promo__inner:before {
    display: block;
  }
}

.promo__text {
  margin-bottom: 85px;
}

.about {
  position: relative;
  background-color: #F9F9FA;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width: 576px) {
  .about {
    padding-bottom: 144px;
  }
}

.about::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: url("../images/decor-about.jpg") center/cover no-repeat;
}

@media (min-width: 576px) {
  .about::after {
    height: 110px;
  }
}

.about__descr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

@media (min-width: 992px) {
  .about__descr {
    margin-top: 50px;
  }
}

.about__descr-item {
  width: 95%;
}

@media (min-width: 992px) {
  .about__descr-item {
    width: calc(50% - 15px);
  }
}

.about__img {
  display: none;
  max-height: 300px;
}

@media (min-width: 992px) {
  .about__img {
    display: block;
  }
}

@media (min-width: 992px) {
  .about__text {
    margin-left: 30px;
  }
}

.about__advantages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.advantage-card {
  flex-basis: 95%;
  padding: 20px 0;
}

@media (min-width: 576px) {
  .advantage-card {
    flex-basis: calc(33.3% - 20px);
    min-width: 275px;
    padding: 20px;
  }
}

.advantage-card:not(:first-child) {
  margin-left: 15px;
}

@media (min-width: 992px) {
  .advantage-card:not(:first-child) {
    margin-left: 30px;
  }
}

.advantage-card__top {
  display: flex;
  align-items: center;
}

.advantage-card__icon {
  height: 50px;
  width: 50px;
  margin-right: 25px;
}

.advantage-card__subtitle {
  margin: 0;
  font-family: "Acrobat", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.advantage-card__text {
  margin-top: 15px;
}

.products {
  padding: 8px 0 40px;
}

@media (min-width: 1170px) {
  .products {
    padding: 8px 0 70px;
  }
}

.products__products {
  display: grid;
  grid-template-columns: repeat(auto-fill, 255px);
  justify-content: center;
  grid-gap: 30px;
  margin-top: 50px;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 255px;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.product-card:hover {
  transform: scale(1.1);
}

.product-card__top {
  padding: 5px 5px 1px;
}

.product-card__img {
  width: 100%;
  object-fit: contain;
}

.product-card__bottom {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 15px 20px;
  border-top: 1px solid #E7E7E7;
}

.product-card__title {
  margin: 20px 0 0;
  font-size: inherit;
  font-weight: 400;
}

.product-card__order-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.product-card__order-price > span {
  font-family: "Acrobat", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
}

.application {
  padding: 20px 0;
  background: #F9F9FA;
}

@media (min-width: 1170px) {
  .application {
    background: linear-gradient(180deg, #fff 0%, #fff 10%, #F9F9FA 10%, #F9F9FA 100%);
  }
}

.application__inner {
  display: flex;
  justify-content: center;
  font-family: "Acrobat", sans-serif;
  font-weight: 800;
  color: #1A2437;
}

@media (min-width: 1170px) {
  .application__inner {
    justify-content: flex-start;
  }
}

.application__img {
  display: none;
}

@media (min-width: 1170px) {
  .application__img {
    display: block;
    max-height: 553px;
    max-width: 400px;
    margin-right: 76px;
  }
}

.application__descr {
  max-width: 542px;
}

@media (min-width: 1170px) {
  .application__descr {
    padding: 97px 0 32px;
  }
}

.application__title {
  margin: 0;
  font-size: 33px;
  line-height: 31px;
}

@media (min-width: 576px) {
  .application__title {
    font-size: 44px;
    line-height: 44px;
  }
}

.application__subtitle {
  margin-top: 35px;
  font-size: 25px;
  line-height: 36px;
  color: #00A9E3;
}

@media (min-width: 576px) {
  .application__subtitle {
    font-size: 30px;
    line-height: 36px;
  }
}

.application__download-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 11px;
}

@media (min-width: 576px) {
  .application__download-info {
    justify-content: space-between;
  }
}

@media (min-width: 576px) {
  .application__list {
    align-self: flex-end;
  }
}

.application__item {
  position: relative;
  padding-left: 34px;
  font-size: 20px;
  line-height: 24px;
}

.application__item:not(:first-child) {
  margin-top: 20px;
}

.application__item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #00A9E3;
}

.application__link {
  color: #00A9E3;
  text-decoration: underline;
}

.application__download-wrap-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

@media (min-width: 576px) {
  .application__download-wrap-mobile {
    display: none;
  }
}

.application__qr-code-wrapper {
  height: 125px;
  width: 125px;
  padding: 8px;
  border-radius: 10px;
  background-color: #fff;
}

.application__qr-code-wrapper--desktop {
  display: none;
}

@media (min-width: 576px) {
  .application__qr-code-wrapper--desktop {
    display: block;
  }
}

.application__qr-code {
  width: 100%;
}

.application__download-buttons {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 576px) {
  .application__download-buttons {
    margin-top: 35px;
  }
}

.application__download-buttons--desktop {
  display: none;
}

@media (min-width: 576px) {
  .application__download-buttons--desktop {
    display: flex;
  }
}

.application__download-buttons--mobile {
  flex-direction: column;
  justify-content: center;
}

.application__download-buttons--mobile > :not(:first-child) {
  margin-top: 5px;
}

.application__download-button {
  height: 50px;
  width: calc(50% - 16px);
  max-width: 255px;
  min-width: 145px;
  border-radius: 10px;
  background-color: #000;
}

@media (min-width: 576px) {
  .application__download-button {
    height: 80px;
  }
}

.application__download-button--google {
  background: url("../images/application/google_play.svg") center/contain no-repeat;
}

.application__download-button--app {
  background: url("../images/application/app_store.svg") center/contain no-repeat;
}

.certificates__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 80px;
}

@media (min-width: 1180px) {
  .certificates__inner {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .certificates__inner {
    padding: 100px 0 80px;
  }
}

.certificates__descr {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 540px;
}

@media (min-width: 1180px) {
  .certificates__descr {
    margin-right: 45px;
  }
}

.certificates__text {
  margin-top: 30px;
}

@media (min-width: 576px) {
  .certificates__text {
    margin-top: 66px;
  }
}

.certificates__text-item {
  margin: 0;
}

.certificates__text-item:nth-child(2) {
  margin-top: 16px;
}

.certificates__awards {
  max-height: 150px;
  width: 100%;
  max-width: 460px;
  margin-top: 20px;
  object-fit: contain;
}

@media (min-width: 768px) {
  .certificates__awards {
    margin-top: 53px;
  }
}

@media (min-width: 1180px) {
  .certificates__awards {
    position: relative;
    left: -57px;
  }
}

.reviews {
  position: relative;
  padding: 110px 0 50px;
  background-color: #F9F9FA;
}

.reviews::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 110px;
  width: 100%;
  background: #fff url("../images/decorReviews.svg");
}

.reviews__title {
  position: relative;
  top: -50px;
}

.order {
  padding: 30px 0 27px;
  background: url("../images/order-bg.jpg") center/cover no-repeat;
}

@media (min-width: 768px) {
  .order {
    padding: 204px 0 27px;
  }
}

.order__form {
  display: flex;
  flex-direction: column;
  max-width: 540px;
  margin: 30px auto 0;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);
}

@media (min-width: 576px) {
  .order__form {
    margin: 50px auto 0;
    padding: 75px 80px;
  }
}

.order__label {
  display: flex;
  flex-direction: column;
}

.order__label:not(:first-child) {
  margin-top: 20px;
}

@media (min-width: 576px) {
  .order__label:not(:first-child) {
    margin-top: 25px;
  }
}

.order__label > span {
  margin-left: 15px;
  font-family: "Acrobat", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #1A2437;
}

.order__input {
  margin-top: 4px;
  padding: 10px 15px;
  border: 1px solid #E7E7E7;
  border-radius: 20px;
  font-size: 16px;
  line-height: 19px;
  font-family: inherit;
}

@media (min-width: 576px) {
  .order__input {
    margin-top: 15px;
  }
}

.order__input::placeholder {
  color: #E7E7E7;
}

.order__button {
  margin-top: 30px;
  align-self: center;
}

@media (min-width: 576px) {
  .order__button {
    margin-top: 50px;
  }
}

.footer {
  background-color: #1A2437;
  color: #fff;
}

.footer__logo {
  display: none;
}

@media (min-width: 768px) {
  .footer__logo {
    display: block;
  }
}

.footer__copyright {
  display: none;
  margin-top: 15px;
  font-size: 14px;
}

@media (min-width: 576px) {
  .footer__copyright {
    font-size: 17px;
  }
}

@media (min-width: 1045px) {
  .footer__copyright {
    position: relative;
    left: -30px;
    display: block;
    margin-top: 0;
  }
}

.footer__copyright--mobile {
  display: block;
}

@media (min-width: 1045px) {
  .footer__copyright--mobile {
    display: none;
  }
}

html {
  scroll-behavior: smooth;
}

.page {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #485055;
}
/*# sourceMappingURL=main.css.map */