@import './utils/fonts';
@import './normilize';
@import './utils/variables';
@import './utils/mixins';
@import './common/container';
@import './common/modal';
@import './common/logo';
@import './common/nav';
@import './common/menu';
@import './common/open-close-button';
@import './common/button';
@import './common/title';
@import './common/actions';
@import './common/slider';
@import './common/form';
@import './common/menu-mobile';
@import './sections/header';
@import './sections/promo';
@import './sections/about';
@import './sections/products';
@import './sections/application';
@import './sections/certificates';
@import './sections/reviews';
@import './sections/order';
@import './sections/footer';

html {
  scroll-behavior: smooth;
}

.page {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: $color-text;
}
