@import './normilize';
@import './utils/variables';
@import './utils/fonts';
@import './utils/mixins';
@import './common/container';
@import './common/button';
@import './block/header';
@import './sections/promo';

.page {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  color: $color-text;
}