@import './utils/fonts';
@import './normilize';
@import './utils/variables';
@import './utils/mixins';
@import './common/container';
@import './common/button';
@import './common/title';
@import './common/nav';
@import './sections/header';
@import './sections/promo';
@import './sections/about';
@import './sections/products';
@import './sections/application';
@import './sections/order';
@import './sections/footer';

html {
  scroll-behavior: smooth;
}

.page {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: $color-text;
}
