.button {
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 20px;
  background: $color-blue;
  font-family: "Roboto", sans-serif;
  font-size: inherit;
  line-height: 19px;
  color: $color-white;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    // 
  }
}