.form {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 540px;
  margin: 30px auto 0;
  padding: 20px;
  border-radius: 10px;
  background-color: $color-white;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);

  @media (min-width: 576px) {
    margin: 50px auto 0;
    padding: 75px 80px;
  }

  &--modal {
    width: 540px;
    margin: 0;
  }

  &__label {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    @media (min-width: 576px) {
      margin-top: 25px;
    }

    & > span {
      margin-left: 15px;
      @include style-title;
      font-size: 20px;
      line-height: 24px;
      color: $color-title;
    }
  }
  
  &__input {
    margin-top: 4px;
    padding: 10px 15px;
    border: 1px solid $color-gray-line;
    border-radius: 20px;
    font-size: 16px;
    line-height: 19px;
    font-family: inherit;
  
    @media (min-width: 576px) {
      margin-top: 15px;
    }
  
    &::placeholder {
      color: $color-gray-line;
    }
  }
  
  &__button {
    margin-top: 30px;
    align-self: center;
  
    @media (min-width: 576px) {
      margin-top: 50px;
    }
  }
}
