$width-review: 445px;
$width-review-pre-mobile: 350px;
$width-review-mobile: 300px;

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 576px) {
    flex-direction: row;
  }

  &__btns {
    display: flex;

    @media (min-width: 576px) {
      display: none;
    }

    & > :first-child {
      margin-right: 40px;
    }
  }

  &__btn {
    height: 15px;
    width: 50px;
    border: none;

    &--reviews {

    }

    &--desktop {
      display: none;

      @media (min-width: 576px) {
        display: block;
      }
    }
    
    &--left {
      background: url('../images/arrowSlider.svg') center/contain no-repeat;

      &--reviews {
        margin-bottom: 10px;
      }
    }

    &--right {
      transform: rotate(180deg);
      background: url('../images/arrowSlider.svg') center/contain no-repeat;
      
      &--reviews {
        margin-top: 10px;
      }
    }
  }

  &__visible-content {
    display: flex;
    align-items: center;
    height: 334px;
    width: 242px;
    margin: 0 30px;
    border-radius: 4px;
    overflow: hidden;

    @media (min-width: 576px) {
      height: 482px;
      width: 350px;
    }

    &--reviews {
      height: auto;
      width: $width-review-mobile;

      @media (min-width: 576px) {
        width: $width-review-pre-mobile;
      }

      @media (min-width: 768px) {
        width: $width-review;
      }

      @media (min-width: 1170px) {
        width: calc(#{$width-review} * 2 + 30px);
      }
    }

  }

  &__line {
    display: flex;
    transition: transform $transation-duration-default;
  }

  &__img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  &__review {
    min-height: 250px;
    min-width: $width-review-mobile;
    padding: 10px;
    border-radius: 10px;
    background-color: $color-white;
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);

    @media (min-width: 576px) {
      min-width: $width-review-pre-mobile;
      padding: 20px;
    }

    @media (min-width: 768px) {
      min-width: $width-review;
    }

    @media (min-width: 1170px) {
      &:nth-child(2n) {
        margin-left: 30px;
      }
    }
  }
  &__name {
    @include style-title;
    font-size: 20px;
    line-height: 24px;
    color: #00A9E3;
  }

  &__text {
    margin-top: 14px;
  }
}
