.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 576px) {
    flex-direction: row;
  }

  &__btns {
    display: flex;

    @media (min-width: 576px) {
      display: none;
    }

    & > :first-child {
      margin-right: 40px;
    }
  }

  &__btn {
    height: 15px;
    width: 50px;
    border: none;

    &--desktop {
      display: none;

      @media (min-width: 576px) {
        display: block;
      }
    }
    
    &--left {
      background: url('../images/arrowSlider.svg') center/contain no-repeat;
    }

    &--right {
      transform: rotate(180deg);
      background: url('../images/arrowSlider.svg') center/contain no-repeat;
    }
  }

  &__visible-content {
    height: 482px;
    width: 350px;
    margin: 0 30px;
    overflow: hidden;

    &--reviews {
      height: auto;
      width: calc(445px * 2 + 30px);
    }
  }

  &__line {
    display: flex;
    transition: transform $transation-duration-default;
  }

  &__review {
    min-height: 250px;
    min-width: 445px;
    padding: 20px;
    border-radius: 10px;
    background-color: $color-white;
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);

    &:nth-child(2n) {
      margin-left: 30px;
    }
  }
  &__name {
    @include style-title;
    font-size: 20px;
    line-height: 24px;
    color: #00A9E3;
  }

  &__text {
    margin-top: 14px;
  }
}
