$height-decor: 110px;
$height-decor-mobile: 50px;

.about {
  position: relative;
  background-color: $color-bg-gray;
  padding-bottom: $height-decor-mobile;

  @media (min-width: 576px) {
    padding-bottom: $height-decor + 34px;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: $height-decor-mobile;
    width: 100%;
    background: url('../images/decor-about.jpg') center/cover no-repeat;

    @media (min-width: 576px) {
      height: $height-decor;
    }
  }

  &__descr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;

    @media (min-width: 992px) {
      margin-top: 50px;
    }

    &-item {
      width: 95%;

      @media (min-width: 992px) {
        width: calc(50% - 15px)
      }
    }
  }

  &__img {
    display: none;
    max-height: 300px;
    
    @media (min-width: 992px) {
      display: block;
    }
  }

  &__text {
    @media (min-width: 992px) {
      margin-left: 30px;
    }
  }

  &__advantages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.advantage-card {
  flex-basis: 95%;
  padding: 20px 0;
  
  @media (min-width: 576px) {
    flex-basis: calc(33.3% - 20px);
    min-width: 275px;
    padding: 20px;
  }

  &:not(:first-child) {
    margin-left: 15px;

    @media (min-width: 992px) {
      margin-left: 30px;
    }
  }

  &__top {
    display: flex;
    align-items: center;
  }

  &__icon {
    height: 50px;
    width: 50px;
    margin-right: 25px;
  }

  &__subtitle {
    margin: 0;
    @include style-title;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
  }

  &__text {
    margin-top: 15px;
  }
}
