.application {
  background: linear-gradient(180deg, $color-white 0%, $color-white 10%, $color-bg-gray 10%, $color-bg-gray 100%);

  &__inner {
    display: flex;
    justify-content: center;
    @include style-title;
    color: $color-title;

    @media (min-width: 1170px) {
      justify-content: flex-start;
    }
  }

  &__img {
    display: none;

    @media (min-width: 1170px) {
      display: block;
      max-height: 553px;
      max-width: 400px;
      margin-right: 76px;
    }
  }

  &__descr {
    max-width: 542px;

    @media (min-width: 1170px) {
      padding: 97px 0 32px;
    }
  }

  &__title {
    margin: 0;
    font-size: 33px;
    line-height: 31px;

    @media (min-width: 576px) {
      font-size: 44px;
      line-height: 44px;
    }
  }

  &__subtitle {
    margin-top: 35px;
    font-size: 25px;
    line-height: 36px;
    color: $color-blue;

    @media (min-width: 576px) {
      font-size: 30px;
      line-height: 36px;
    }
  }

  &__download-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 11px;

    @media (min-width: 576px) {
      justify-content: space-between;
    }
  }

  &__list {
    @media (min-width: 576px) {
      align-self: flex-end;
    }
  }

  &__item {
    position: relative;
    padding-left: 34px;
    font-size: 20px;
    line-height: 24px;

    &:not(:first-child) {
      margin-top: 20px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: $color-blue;
    }
  }

  &__link {
    color: $color-blue;
    text-decoration: underline;
  }

  &__qr-code-wrapper {
    height: 125px;
    width: 125px;
    margin-top: 15px;
    padding: 8px;
    border-radius: 10px;
    background-color: $color-white;

    @media (min-width: 576px) {
      margin-top: 0;
    }
  }

  &__qr-code {
    width: 100%;
  }

  &__download-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

    @media (min-width: 576px) {
      margin-top: 35px;
    }
  }

  &__download-button {
    height: 40px;
    width: calc(50% - 16px);
    max-width: 255px;
    border-radius: 10px;
    background-color: $color-black;

    @media (min-width: 576px) {
      height: 80px;
    }

    &--google {
      background: url("../images/application/google_play.svg") center/contain no-repeat;
    }

    &--app {
      background: url("../images/application/app_store.svg") center/contain no-repeat;
    }
  }
}
