.certificates {
  &__inner {
    display: flex;
    padding: 100px 0 80px;
  }

  &__descr {
    max-width: 540px;
    margin-right: 45px;
  }

  &__text {
    margin-top: 66px;

    &-item {
      margin: 0;

      &:nth-child(2) {
        margin-top: 16px;
      }
    }
  }

  &__awards {
    position: relative;
    left: -20px;
    margin-top: 53px;
  }
}
