.promo {
  background: url('../images/promo-bg.jpg') center/cover no-repeat;

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - #{$height-header});
    @include style-title;
    font-size: 46px;
    line-height: 53px;
    color: $color-white;

    @media (min-width: 576px) {
      font-size: 60px;
      line-height: 72px;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: -85px;
      right: 50px;
      z-index: 500;
      display: none;
      height: 600px;
      width: 350px;
      background: url('../images/bottle.png') center/contain no-repeat;

      @media (min-width: 768px) {
        display: block;
      }
    }
  }

  &__text {
    margin-bottom: 85px;
  }
}
