.reviews {
  position: relative;
  padding: 110px 0 50px;
  background-color: $color-bg-gray;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 110px;
    width: 100%;
    background: $color-white url('../images/decorReviews.svg');
  }

  &__title {
    position: relative;
    top: -50px;
  }
}