// colors
$color-title: #1A2437;
$color-text: #485055;
$color-blue: #00A9E3;
$color-white: #fff;
$color-black: #000;

// transition 
$transation-duration-default: 0.3s;

// geometry
$height-header: 120px;
