.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
    @include style-title;
    font-size: 20px;
    line-height: 24px;
    color: $color-title;
  }
}

.logo {
  height: 92px;
  width: 160px;
}

.menu {
  display: flex;

  &__item {
    &:not(:first-child) {
      margin-left: 25px;
    }
  }

  &__link {
    color: $color-title;
  }
}

.contacts {
  display: flex;
  flex-direction: column;

  &__link {
    font-style: normal;
    color: inherit;

    &:not(:first-child) {
      margin-top: 15px;
    }
  }
}
